.p-notice{
    // background-color:@bg-black;
    min-height: calc(100vh - @header-height);

    .wp{
        max-width: 1280px;
        .auto(x);
    }
}

.p-notice-container{
    min-height: 800px;
    margin-top:@header-height;
    overflow: hidden;
}
.p-notice-footer{
    .mt(40px);
    padding:10px 0;
    background-color:@bg-black;
}


.m-notice-box{
    .mt(520px);
    border:3px solid #496973;
    background-color:#fff;
    .r(4px);
    padding:30px 20px;
}

@media screen and (max-width:@phone){
    .m-notice-box{
        .mt(0);
        border:none;
        .r(0);
    }
    .p-notice-footer{
        .mt(0);
    }
}
