.p-notice{
}
.p-notice-container{
    min-height: 800px;
    margin-top:@header-height;
    overflow: hidden;
    max-width: 1520px;
    .auto(x);
}
@media screen and (max-width:1920px){
    .p-notice-container{
        max-width: 1280px;
    }
}
.m-notice-box{
    border:3px solid #496973;
    background-color:#fff;
    .r(4px);
    .mt(520px);
    padding:30px 20px;
}