.m-force-alert {
    background: transparent;
    box-shadow: none;

    .el-dialog__header {
        .none;
    }

    .el-dialog__body {
        .pr;
        padding: 0;
        height: 600px;
        width: 1000px;
    }

    .u-main-img {
        width: 100%;
        height: 100%;
    }

    .u-close {
        .pa;
        .pointer;
        height: 100px;
        width: 100%;
        right: 0;
        bottom: 0;
        z-index: 9999;
    }

    .el-carousel__indicators {
        .none;
    }
}
