.m-index-popup {
    .pf;
    .full;
    .lt(0, 0);
    .z(10);
    background-color: rgba(36, 41, 46, 0.8);
    .m-card {
        .size(1200px, 600px);
        .pa;
        .lt(50%, 50%);
        .r(3px);
        transform: translate(-50%, -50%);
        background-image: url("@{img}festival/seven/bg.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        // 第一屏
        .m-first {
            .pr;
            .pointer;
            .u-look {
                .pa;
                .h(30px);
                .lb(50%,130px);
                .ml(-110px);
            }
        }
        // 第二屏
        .m-second {
            .pr;
            .full;
            .animation {
                .h(100%);
                .pa;
            }
            .u-left {
                .lt(0);
            }
            .u-right {
                .rt(0);
            }
            .u-good {
                .h(60px);
                .lt(50%,130px);
                .ml(-80px);
            }
            .u-txt {
                .h(24px);
                .lt(50%,240px);
                .ml(-200px);
            }
            .u-boxcion {
                .lt(50%,340px);
                .ml(-120px);
                .u-img {
                    .h(24px);
                }
                .u-cion {
                    .db;
                    .w(140px);
                    .x;
                    .pa;
                    .bold;
                    .lt(130px,0);
                    .fz(24px,1);
                    color: #e15e85;
                }
            }
            .u-close {
                .h(24px);
                .lb(50%,120px);
                .pointer;
                .ml(220px);
            }
        }
    }
}
.none {
    .none;
}
/* 动画 */
.animation {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.animations {
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}
.fadeInOut {
    -webkit-animation-name: fadeInOut;
    animation-name: fadeInOut;
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}
.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0.1;
    }
    30% {
        opacity: 0.2;
    }
    40% {
        opacity: 0.3;
    }
    50% {
        opacity: 0.4;
    }
    60% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.6;
    }
    80% {
        opacity: 0.7;
    }
    90% {
        opacity: 0.8;
    }
    95% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px);
        -ms-transform: translateX(-20px);
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}
body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus,
input:focus,
p:focus,
div:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}
@media screen and (max-width: @phone) {
    .m-index-popup .m-card .m-second .u-close {
        .lb(50%,120px);
        .ml(-50px);
    }
}
