.m-world {
    .u-right {
        flex-direction: row-reverse;
    }
    .world-tip {
        .db;
        .fz(12px);
        color: #aaa;
        transform: scale(0.9);
        .r(2px);
    }

    .other-list {
        .flex;
        flex-wrap: wrap;
        gap: 10px;
        & > div {
            width: 300px;
            &:not(:last-child) {
                border-right: 1px solid #eee;
            }
        }
    }
}
.m-world-content {
    color: #777;
    // .h(160px);
    // overflow: auto;
    // .scrollbar();
}

.m-world-block {
    padding: 10px;
    // .mt(10px);
    .fz(12px,28px);
    .u-item {
        .flex;
        gap: 20px;
        justify-content: space-between;
    }
}
