.m-world {
    .u-right {
        flex-direction: row-reverse;
    }
    .world-tip {
        .db;
        .fz(12px);
        color: #aaa;
        transform: scale(0.9);
        .r(2px);
    }
}
.m-world-content {
    .flex;
    gap: 20px;
    color: #777;
    .m-other-list {
        padding: 10px;
        width: 300px;
        border-right: 1px dotted #eee;
    }
}

.m-world-block {
    padding: 10px;
    // .mt(10px);
    .fz(12px,28px);
    .u-item {
        .flex;
        gap: 20px;
        justify-content: space-between;
    }
}
