.m-welcome {
    background-size: 100% auto;
    height: 110px;
    .pr;
    box-sizing: border-box;
    background-repeat: no-repeat;
    z-index: 1;
    border-radius: 7.5px;
}
.u-border {
    .pr;
    .dbi;
    .size(100%);
    background-image: url("../../img/calendar-border.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    z-index: 9;
}

@media screen and (max-width: @ipad) {
    .m-welcome {
        .none;
    }
}
