@import "../kv.less";
@import "./sideblock.less";


@left: 320px;
@right: 380px;
.m-main {
    .mt(@header-height);
    .pr;
    background-color: #f6f8fa;
    max-width: 1440px;
    .auto(x);
}

.m-left {
    .w(@left);
    .z(9);
    .pa;
    .lt(0, 0);
    padding: 20px 0;
    box-sizing: border-box;
}

.m-primary {
    padding: 20px 0 0 0;
    margin-left: @left + 20px;
    .m-content {
        .flex;
        .pt(20px);
    }
    .m-right {
        .w(@right);
        .ml(20px);
        .r(5px);
        // background-color: #fff;
        // border: 1px solid rgba(63, 68, 72, 0.2);
    }
}

.el-tabs--card {
    .el-tabs__item {
        background-color: @bg-light;
        border-bottom: 1px solid @border !important;

        &.is-active {
            border-bottom: none !important;
            background-color: #fff;
            .bold;
        }
    }
}
.c-footer {
    background-color: @bg-black;
    .clear;
    margin: 40px 0 0 0;
    border-radius: 0;
    padding: 20px;
}

body {
    background-color: #f6f8fa;
}
.m-fixed {
    .pf;
    .w(@left);
    top: @header-height;
    margin: 0;
    background-color: #f6f8fa;
}

@import "./app_media.less";