@import '../includes/button.css';
.m-assistant {
    .r(5px);
    .h(116px);
    .pr;
    // background: url("../../img/right/dailybg.png") right top @bg-black no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
    box-sizing: border-box;
    padding: 10px !important;
    box-shadow:2px 2px 3px rgba(0, 0, 0, 0.2) inset;
    display: flex;
    flex-direction: row-reverse;

    background-image: url("../../img/assistant/v0.webp");

    .u-assistant{
        .w(160px);
        .x;
        .mt(15px);
        display: flex;
        flex-direction: column;
    }


    .u-label{
        .db;
        .fz(12px,1.8);
        color:@color;
        // background-color:rgba(255,255,255,0.5);
        background:linear-gradient(to right,transparent,#fff,transparent);
        .mt(12px);
        .x;
    }
}
