.c-sidebar-left{
    top : @header-height !important;
}
.c-main{
    .mt(@header-height) !important;
}

.m-main{
    padding:20px;
    display: flex;
}

.m-primary{
    flex:1;
    .mr(20px);
}
.m-extend{
    .w(460px);
}
@media screen and (max-width:@smallpc){
    .m-extend{
        .w(400px);
    }
}
@media screen and (max-width:@notebook){
    .m-main{
        .db;
    }
    .m-primary{
        .mr(0);
    }
    .m-extend{
        .mt(20px);
        .w(auto);
    }
}

.m-sideblock{
    .mb(20px);
    background-color:@bg-light;
    border:1px solid #eee;
    .r(6px);
}

.m-sideblock-header{
    i{
        .mr(5px);
        .fz(16px);
    }
    .u-title{
        .fz(13px);
    }
    border-bottom: 1px solid #e4e7ed;
    padding: 10px;

    .u-more{
        .fr;
        .fz(12px);
        color:#888;
        &:hover{
            color:@primary;
        }
    }
}