.m-daily{
}
.m-daily-header{    //#1d3740
    background:url('../img/right/dailybg.png') @bg-black no-repeat right bottom;

    .r(6px);
    border-bottom-left-radius:0;
    border-bottom-right-radius:0;

    color:#fff;

    .h(100px);
    box-sizing: border-box;
    padding:10px !important;

    .u-time{
        .fz(13px);
    }

    .pr;
    .u-wechat{
        .pa;.rt(10px);
        .size(80px);
    }

    .u-list{
        .mt(10px);
    }

    .u-item{
        .fz(12px,2);
        .db;
        a{
            color:#fff;
        }

        a:hover{
            color:@blue;
        }

        em{
            font-style: normal;
            color:#ccc;
        }
    }

    .isHighlight{
        .bold;
    }
}

.m-daily-content{
    padding-bottom:10px;
    .u-title{
        .fz(14px,20px);
        border-bottom:1px solid #e4e7ed;
        padding-bottom:10px;
        .x;
    }
    ul{
        padding:0;
        margin:0;
        list-style:none;
        .mt(10px);
    }
    li{
        .fz(12px,28px);
        .nobreak;

        em{
            font-style: normal;
            background-color:#eee;
            color:#fff;
            padding:2px 5px;
            .r(2px);
            .mr(5px);
        }

        &:first-child em{background-color:#ff7cb8;}
        &:nth-child(2n) em{background-color:#00d7df;}    //#f1a400
    }
}