.m-event{
    .mt(20px);
    .mb(20px);
    // box-shadow:0 0 3px rgba(0,0,0,.2);
    background: #fff;
    padding: 10px;
    border: 1px solid #e1e4e8;
    .r(4px);
    white-space: nowrap;
    overflow: hidden;
    a{
        .db;
        .pr;
        // .h(100%);
        // .r(4px);
        .w(200px);
        .dbi;.y(top);
        .mr(20px);

        &:hover{
            img{
                filter: saturate(150%) brightness(120%);
            }
        }
    }
    img{
        // .h(160px);
        // 默认1100*160
        .db;.auto(x);
        .size(100%);
        transition:0.2s ease-in-out;
    }
}
@media screen and (max-width:@phone){
    .m-event{
        .slick-prev:before, .slick-next:before{
            font-size:20px;
            .size(20px);
        }
        .slick-next{
            right:0;
        }
        .slick-prev{
            left:0;
        }
    }
}