.m-newpost{
    .mt(20px);
    background-color: #fff;
    border: 1px solid @border-hr;
}

.m-newpost-content{
    padding:20px 0;

    .clearfix;
    .u-post{
        .w(50%);
        .fl;
        padding:0 20px;
        box-sizing: border-box;
        .mb(20px);
    }
    .u-avatar{
        .size(32px);
        .r(4px);
        .fl;
        .mr(10px);
        .mt(5px);
    }

    .u-title{
        .fz(13px,2);
        color:@darkblue;
        &:hover{
            color:@pink;
        }
        .db;
        .nobreak;
        .mb(5px);
    }

    .u-desc{
        .db;
        .fz(12px);
        color:#888;
        padding:5px 0;
    }

    .u-info{
        .fz(12px);
        color:#999;
    }
    .u-type{
        color:#999;
        &:hover{
            color:@pink;
        }
    }
    .u-date{
        
    }
}
@media screen and (max-width:@phone){
    .m-newpost-content{
        .u-post{
            .w(100%);
            float:none;
        }
    }
}