.m-notice{
    .u-admin{
        .mt(2px);
        a:hover{color:@pink;}
    }

    a{
        &.isHighlight{
            .bold;
        }
    }

    .u-more{
        a{
            color:#f39;
        }
        i{
            .fz(14px);
            .y(-2px);
            .mr(2px);
        }
    }
    a.u-help{
        svg{
            .size(24px);
            // .y(-5px);
            .mr(5px);
            .pr;
            top:-3px;
        }
        color:#b287fd;
    }
}
@media screen and (max-width:1279px){
    .m-notice{
        .u-list{
            padding:10px;
        }
    }
}