.m-price{
    background-color: #fff;
    border: 1px solid @border-hr;
    .mt(20px);
    .r(4px);
}
.m-price-content{
    padding:15px 20px 0 20px;

    .u-group{
        .mb(10px);
    }

    .u-label{
        // .fl;
        .fz(12px);
        em{
            font-style: normal;
            .db;
            .mb(2px);
            color:#777;
        }
        width:60px;
    }

    .u-progress{
        // .fl;
        .db;
        .h(14px);
        .mt(10px);
        .u-bar{
            .r(3px);
            .db;
            // background-color:#FAA524;
            background-color:#f93;
            .h(100%);
        }
    }

    .u-price{
        .mt(7px);
        .fz(14px);
        width:80px;
        em{
            .fz(12px);
            .ml(5px);
            color:#777;
            font-style: normal;
        }
    }
}
.m-price-charts-title{
    .fz(12px);
    // .bold;
    padding:0 20px;
    .mb(-20px);
    .mt(20px);
    color:#aaa;
}
.m-price-charts{
    .h(300px);
}