.m-servers-content{
    padding:10px 0 10px 20px;

    .clearfix;
    .u-item{
        .fl;
        .w(88px);
        .mr(20px);
        cursor: default;

        color:#777;
        &:hover{
            color:#555;
        }
    }
    .u-status{
        .dbi;.y;
        .size(8px);
        background-color:#aaa;
        .mr(8px);
        &.on{
            background-color:#c6e48b;
        }
    }
    .u-name{
        .fz(12px,26px);
    }
}