.m-topic-fuben {

    .size(810px, 521px);

    .u-fuben-title {
        .pr;
        .size(810px, 80px);
        background: url(../../img/topic/title03.png) no-repeat left top;
        display: flex;
        justify-content: flex-end;
        padding-bottom: 24px;

        span {
            .size(128px, 78px);
            box-sizing: border-box;
            .lh(78px);
            background: #287267;
            color: #fff;
            .x;
            .fz(20px);
            .bold;
            user-select: none;
            cursor: pointer;
            border: 1px #237064 solid;

            &.active {

                background: #fff;
                color: #287267;
            }
        }
    }

    .u-leiyu {
        .size(95px, 27px);
        .pa;
        .lt(0, -27px);
    }
}



.m-topic-baiqiang {
    .size(520px, 521px);
    background: url(../../img/topic/baiqiang.png) no-repeat left top #DBECE7;

    .u-title {
        .pr;
        .size(522px, 80px);

        .u-show {
            .pa;
            .rt(29px, 21px);
            padding: 0 14px;
            .lh(37px);
            border: 1px solid #287267;
            .r(6px);
            display: flex;
            background-color: #fff;
            align-items: center;
            user-select: none;
            cursor: pointer;


            .u-name {
                padding-right: 12px;
                color: #287267;
            }

            .u-arr {
                .size(12px, 8px);
                background: url(../../img/topic/arrs.png) no-repeat right top;

                &.invert {
                    transform: rotate(180deg);
                }
            }
        }

        .u-box {
            .pa;
            .z(1);
            .rt(29px, 58px);
            padding: 10px 0;
            .r(3px);
            border: 1px solid #287267;
            background-color: #fff;
            color: #287267;
            .lh(30px);

            span {
                .db;
                cursor: pointer;
                padding: 0 26px;

                &:hover {
                    color: #fff;
                    background-color: rgba(40, 114, 103, 0.62);
                }
            }
        }
    }

    .u-cont {
        padding: 24px 0 0 88px;

        .u-item {
            display: flex;
            user-select: none;
            .size(406px, 107px);
            padding: 0 13px;
            box-sizing: border-box;
            background-color: #fff;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.16);
            .r(8px);
            margin-bottom: 24px;
            align-items: center;

            img {
                .size(80px);
                .r(50%);
            }

            .u-text {
                flex: 1;
                padding: 0 0 0 13px;
                .bold;
                color: #24292E
            }

            .u-name {
                .fz(28px);
                color: #287267;
                padding-bottom: 10px;
            }

            .u-info {
                span:last-child { 
                    font-weight: normal;
                    opacity: 0.5;
                }
            }
        }
    }

}