.p-yaozong {
    background-image: url('@{kv_beitianyaozong}sect/bg.jpg');
    background-position: top center;
    background-size: cover;
}

.wp {
    width: 1280px;
}

.p-yaozong-container {
    .auto(x);
    .flex;
    justify-content: space-between;
}

.p-yaozong-menu {
    .size(164px, 1080px);
    .pt(80px);
    box-sizing: border-box;
    background-image: url('@{kv_beitianyaozong}sect/menu.png');

    span {
        .pointer;
        .db;
        .size(150px, 129px);
    }

    .acetive {

        background-image: url('@{kv_beitianyaozong}sect/menuhover.png');
    }

    .u-menu1 {
        background-position: 0 -80px;
    }

    .u-menu2 {
        background-position: 0 -209px;
    }

    .u-menu3 {
        background-position: 0 -338px;
    }

    .u-menu4 {
        background-position: 0 -467px;
    }

    .u-menu5 {
        background-position: 0 -596px;
    }

    .u-menu6 {
        background-position: 0 -725px;
    }
}

.p-yaozong-intro {
    .w(1116px);
    background-image: url('@{kv_beitianyaozong}sect/cloud.png');
    background-position: right 104px;
    background-repeat: no-repeat;
}