.m-topic-box{
    .mt(440px);
}
.m-topic-top{
    display: flex;
    overflow: hidden;
}
.m-top-slider{
    .w(840px);
    .mr(20px);
    flex:none;
}

.m-topic-tools{
    .u-img{
        .size(90px,240px);
    }
    a:hover{
        filter: brightness(110%);
    }
}

.m-topic-event{
    .mt(20px);
    .h(160px);
    .w(100%);
}

.m-topic-hot{
    .mt(80px);
    .pr;
}
.m-topic-banner-left{
    .pa;.lt(-320px,0);
}

.m-topic-fb {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .m-fb-slider {
        .w(840px);

        .u-titles {
            transform: skew(-30deg);
        }
    }

    .m-fb-rank-container {
        .w(440px);
    }
}