@bgcolor:rgb(32, 39, 53);
.p-topic-container {
    .pr;
    background-color:@bgcolor ;
}

.wp {
    max-width: 1920px;
}
.shadow{
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.m-topic-leaf {
    .full;
    .pa;
    .z(2);
    .lt(0, 0);
    overflow: hidden;
    background: no-repeat top;
    background-size: cover;
    background-image: url('@{kv_beitianyaozong}new/ye.png');
    pointer-events: none;
}

.m-topic-header {
    .pr;
    .h(1162px);
    background-image: url('@{kv_beitianyaozong}new/top.jpg');
    background-repeat: no-repeat;
    background-position: top center;

    .u-txt {
        .pa;
        width: 397px;
        height: 541px;
        .size(334px, 553px);
        .rt(189px, 67px);
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('@{kv_beitianyaozong}new/yaozong.png');
    }
}

.m-topic-box {
    background-image: url('@{kv_beitianyaozong}new/bg.jpg');
    background-repeat: no-repeat;
    .pr;
    .z(3);
}

.m-topic-video {
    .w(950px);
    .auto(x);
    padding-bottom: 30px;

    .u-box {
        .pr;
        .db;
        .size(950px, 542px);
        .pointer;
        background-image: url('@{kv_beitianyaozong}new/bgVideo.png');
        background-repeat: no-repeat;

        img {
            .pa;
            .size(900px, 500px);
            .lt(25px, 21px);
            border: 4px inset #fff;
            box-sizing: border-box;
        }
    }
}

.m-topic-info {
    .u-txt {
        .auto(x);
        .size(1172px, 452px);
        background-image: url('@{kv_beitianyaozong}new/txt.png');
        background-repeat: no-repeat;
        padding-bottom: 60px;
    }

    .u-box {
        display: flex;
        justify-content: center;
        padding-bottom: 670px;

        .u-btn {
            .db;
            .pointer;
            .size(50px, 250px);
            background-image: url('@{kv_beitianyaozong}new/btnYaozong.png');
            background-repeat: no-repeat;
            margin-right: 15px;
        }

        .u-btn1 {
            background-position: -50px 0;
        }

        .u-btn2 {
            background-position: -100px 0;
        }

        .u-btn3 {
            background-position: -150px 0;
        }

        .u-btn4 {
            background-position: -200px 0;
        }

        .u-btn5 {
            background-image: url('@{kv_beitianyaozong}new/btnMore.png');
            background-position: bottom left;
        }
    }
}
.m-topic-block {
    padding-bottom: 660px;

    .u-title {
        .size(1100px, 200px);
        .auto(x);
        background-repeat: no-repeat;
    }

    .u-cont {
        background-image: url('@{kv_beitianyaozong}new/bgScroll.png');
        .auto(x);
    }
}
.m-topic-pve {
    .w(1294px);
    .auto(x);
    .flex;
    .flex(tb);

    .u-title {
        background-image: url('@{kv_beitianyaozong}new/one.png');
    }

    .u-cont {
        .size(1294px, 580px);

        .u-tab {
            .flex;
            padding: 72px 0 36px 0;
            justify-content: center;

            span {
                .db;
                .pointer;
                .size(182px, 42px);
                margin: 0 47px;

                &.leiyu {
                    background-image: url('@{kv_beitianyaozong}new/leiyu.png');

                    &.active {
                        background-position: 0 -42px;
                    }
                }

                &.wushi {
                    background-image: url('@{kv_beitianyaozong}new/wushi.png');

                    &.active {
                        background-position: 0 -43px;
                    }
                }
            }
        }

        .u-box {
            .flex;
            padding: 0 0 0 70px;

            .u-img {
                .pr;
                .size(550px, 339px);
                margin-right: 5px;

                img {
                    .full;
                }

                .u-more {
                    .pa;
                    .z(3);
                    .lb(10px, 5px);
                    .size(175px, 45px);
                    background-image: url('@{kv_beitianyaozong}new/bossMore.png');
                }
            }

            .u-news {
                .size(295px, 339px);
                padding: 10px 14px;
                box-sizing: border-box;
                margin-right: 5px;
                background-image: url('@{kv_beitianyaozong}new/bgNews.png');

                .u-line {
                    .db;
                    .fz(14px);
                    .flex;
                    .lh(34px);
                    justify-content: space-between;
                    border-bottom: 2px solid #f0f0f0;

                    span {
                        .db;
                        .nobreak;

                        &.u-name{
                            max-width: 200px;
                            color:@color;
                            i{
                                font-style: normal;
                                color:rgb(73,105,115);
                            }
                            &:hover{
                                color:#4a8699;
                            }
                        }
                        &.u-author{
                            max-width: 60px;
                            color:#999;
                            .fz(12px);
                            padding-right:5px;
                        }
                    }

                    &:last-child {
                        border: 0;
                    }
                }
            }

            .u-btnbox {
                .flex;

                .u-btn {
                    .size(65px, 340px);
                    margin-right: 8px;
                    background-image: url('@{kv_beitianyaozong}new/btnFuben.png');
                }

                .u-btn1 {
                    background-position: -65px 0;
                }

                .u-btn2 {
                    background-position: -130px 0;
                }

                .u-btn3 {
                    background-position: -195px 0;
                }
            }
        }
    }

    .u-sword {
        .db;
        .pointer;
        .size(909px, 52px);
        background-image: url('@{kv_beitianyaozong}new/sword.png');
        align-self: flex-end;
        margin-right: 54px;
    }
}

.m-topic-pvp {
    .w(1278px);
    .auto(x);

    .u-title {
        background-image: url('@{kv_beitianyaozong}new/two.png');
        padding-bottom: 108px;
    }

    .u-cont {
        .flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background: 0;

        .u-img {
            .pr;
            .size(620px);
            margin-bottom: 34px;

            img {
                .full;
            }

            .u-box {
                .pa;
                .lt(0, 0);
                .w(620px);
                .x;
                padding-top: 420px;

                .u-name {
                    .fz(42px);

                    .gradient(b, #fff, #ffec88);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                .u-desc {
                    padding: 24px 24px 0 24px;
                    .fz(26px);
                    line-height: 46px;
                    .color(#fff);
                    .break(2);
                }
            }
        }
    }
}

.m-topic-pvx {
    .u-title {
        background-image: url('@{kv_beitianyaozong}new/three.png');
    }

    .u-cont {
        .size(1294px, 580px);
        .pr;

        img {
            .pa;
            .size(1200px, 480px);
            .lt(48px, 50px);
        }
    }
    padding-bottom: 100px;
}

.p-topic-footer{
    background-color:@bgcolor;
    padding:40px 0;
}

.m-topic-qrcode{
    .x;
    padding:200px 0;
    background-color:rgba(255,255,255,1);
}