.p-topic-container{
    min-height: 800px;
    margin-top:@header-height;
    max-width: 1360px;
    .auto(x);
    padding:20px 40px;
}

// .m-topic-common {
//     .m-topic-sect {
//         padding-top: 48px;

//         .u-tabbox {
//             padding-bottom: 85px;
//         }
//     }

//     .m-topic-pve { 
//         background-color: rgba(255, 255, 255, 0.62);
//         padding: 43px 0;
//     }
// }

// .m-topic-main {
//     width: 1362px;
//     margin: 0 auto;
// }