.m-topic-common {
    background: url(../../img/topic/bg.png) no-repeat center top #DBECE7;
    padding-top: 538px;
    .full;


    .u-swiperbox {
        padding-bottom: 15px;
    }

    .m-topic-sect {
        padding-top: 48px;

        .u-tabbox {
            padding-bottom: 85px;
        }
    }

    .m-topic-pve { 
        background-color: rgba(255, 255, 255, 0.62);
        padding: 43px 0;
    }
}

.m-topic-main {
    width: 1362px;
    margin: 0 auto;
}