.m-index-face {
    .mb(20px);
    .mt(20px);
    .flex;
    gap:10px;
    overflow:auto;
    .scrollbar(4px);
    padding-bottom: 6px;
}

.m-face-list {
    .flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;

    // 每行4个，2行
    display:grid;
    grid-template-columns: repeat(5, 1fr);


    .u-face {
        .db;
        .size(280px,85px);
        // flex-basis: 280px;
        // flex-shrink: 1;
        // flex-grow: 1;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
        .r(5px);
        .clip;
        transition: 0.15s ease-in-out;
        &:hover{
            transform: scale(110%);
        }
    }
}
.m-banner{
    height: 180px;
}
.m-banner-box {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.08);
    .r(5px);
    .size(380px,180px);
    a,
    img {
        .db;
        .size(100%);
    }
}

// @media screen and (max-width:@mininote){
//     .m-banner{
//         .none;
//     }
// }
