.christmas {
    display: flex;
    align-items: center;
    justify-content: center;
    .h(100%);
    margin: 0 auto;
    .pointer;

    .christmas-card {
        .pr;
        .christmas-card__img {
            .size(auto, 80vh) !important;
        }
        .christmas-card__open {
            .pa;
            .lt(50%, 93%);
            transform: translate(-50%, -90% ) scale(0.5);
            animation: twinkle 2s ease-out 0s infinite;
        }

        .christmas-card__content {
            background-color: #153b3c;
        }
    }

}

@media screen and (max-width: @phone) {
    .christmas {
        padding: 0;

        .christmas-card {
            .christmas-card__img {
                .size(auto, 60vh) !important;
            }
        }

    }
}