.newYearsDay {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
    .newYearsDay-card {
        display: flex;
        align-items: center;
        justify-content: center;
        .pointer;
    }
}