.m-tv-main {
    .pt(64px);
}
.scrollbar(@color) {
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-track-piece {
        background-color: transparent;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: @color;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner,
    &::-webkit-resizer {
        display: none;
    }
}
.m-tv-content {
    padding: 30px 0;
    position: relative;
    height: calc(100vh - 128px);
    background: url(../../img/tv/bg.png) top left no-repeat;
    background-size: cover;
    box-sizing: border-box;
    .wp {
        .flex;
        .w(100%);
        .auto(x);
        .scrollbar(#24292e);
        .pl(60px);
        height: calc(100% - 28px);
        max-width: 1200px;
        overflow: auto;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        gap: 30px;
    }
    .m-box {
        .size(100%,320px);
        .pr(50px);
        box-sizing: border-box;
        flex-shrink: 0;
        position: relative;
        .u-img {
            .pa;
            .lt(50%,0);
            .z(3);
            .r(18px);
            .clip;
            background-color: #24292e;
            box-sizing: border-box;
            width: calc(100% - 114px);
            height: calc(100% - 50px);
            border: 2px solid #24292e;
            margin-left: -530px;
            max-width: auto;
        }
        &::after {
            content: "";
            .pa;
            .z(2);
            .lt(50px);
            .r(18px);
            width: calc(100% - 54px);
            height: calc(100% - 50px);
            background-color: #24292e;
        }
    }
    .m-jx3box {
        .pa;
        .rt(0);
        .h(100%);
    }
}
.m-tv-nav {
    .pa;
    .lt(50%,80px);
    .size(80px,auto);
    .ml(-600px);
    .r(5px);
    .z(9);
    padding: 10px 0;
    max-height: calc(100vh - 280px);
    background-color: #000;
    .m-nav-box {
        .flex;
        .scrollbar(#999);
        max-height: calc(100vh - 280px);
        overflow: auto;
        padding: 10px;
        box-sizing: border-box;
        flex-direction: column;
        gap: 8px;
        color: #ccc;
        padding: 10px 0;
    }
    .u-nav {
        .pointer;
        .x;
        .r(2px);
        .lh(1.5);
        letter-spacing: 2px;
        border: 1px solid #000;
        margin: 0 4px;
        &.active,
        &:hover {
            color: #fff;
            border: 1px solid #ddd;
        }
    }
}
.m-tv-pagination {
    .x;
    .mt(15px);
}
.m-no-list {
    .size(80%,280px);
    .fz(30px);
    .flex;
    .r(16px);
    justify-content: center;
    align-items: center;
    color: #fff;
    letter-spacing: 4px;
    background-color: #24292e;
}
@media screen and(min-width:3840) {
    .m-tv-content {
        padding: 60px 0;
        .wp {
            .w(2000px);
            gap: 60px;
        }
        .m-box {
            .h(560px);
            .u-img {
                margin-left: -990px;
            }
        }
    }
}

@media screen and(max-width:@ipad) {
    .m-tv-content {
        .m-jx3box {
            .none;
        }
        .wp {
            max-width: 800px;
            height: calc(100% - 100px);
        }
        .m-box {
            .u-img {
                margin-left: -330px;
            }
        }
    }
    .m-tv-nav {
        position: static;
        margin: 0 auto;
        .mb(20px);
        .w(96%);
        .m-nav-box {
            flex-direction: row;
            padding: 10px 10px 0 10px;
            .scrollbar(#000);
            .u-nav {
                flex-shrink: 0;
                padding: 6px 12px;
            }
        }
    }
}
@media screen and(max-width:@phone) {
    .m-tv-content {
        background: url(../../img/tv/bg-m.png) top center no-repeat;
        background-size: cover;
        height: 100%;
        padding: 30px 0;
        .m-jx3box {
            .none;
        }
        .wp {
            .w(340px);
        }
        .m-box {
            .size(100%,180px);
            .pr(20px);
            .u-img {
                .r(14px);
                .lt(50%,0);
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                border: 2px solid #24292e;
                margin-left: -160px;
            }
            &::after {
                .r(14px);
                .lt(20px,20px);
                width: calc(100% - 30px);
                height: calc(100% - 20px);
            }
        }
    }
    .m-no-list {
        .fz(18px);
        .size(100%,160px);
        .ml(-40px); 
    }
}
