.m-tv-main {
    .pt(64px);
}
.m-tv-content {
    position: relative;
    height: calc(100vh - 128px);
    background: url(../../img/tv/bg.png) top right no-repeat;
    background-size: cover;
    .m-jx3box {
        .pa;
        .rt(0);
        .h(100%);
    }
}

@media screen and(max-width:@phone) {
    .m-tv-content {
        background: url(../../img/tv/bg-m.png) top center no-repeat;
        background-size: cover;
        .m-jx3box {
            .none;
        }
    }
}
